#title
{
text-align:center;
}

#menu
{
text-align:center;
padding: 10px;
}

#main_container
{
float:left;
}

#game_container
{
text-align:center;
float:left;
}

#previousNav
{
float:left;
}

#nextNav
{
float:left;
}

#col1, #col2, #col3, #col4, #col5
{
float:left;
padding: 10px;
}

#game0, #game1, #game2, #game3, #game4, #game5, #game6, #game7, #game8, #game9
{
padding: 10px;
height:340px;
width:240px;
border: 1px solid black
}
