#title
{
text-align:center;
}

#menu
{
text-align:center;
}

#main_container
{
float:left;
}

#game_container
{
float:left;
}

#previousNav
{
float:left;
}

#nextNav
{
float:left;
}

#col1, #col2, #col3, #col4, #col5
{
float:left;
}
